In [1]:
# CLASSES AND OBJECT ORIENTED PROGRAMMING(OOPS)

In [2]:
a = ['deya',1,'hello',344]
# a is the object of this class list
# ['deya',1,'hello',344] is an instance of this object of class of list

In [3]:
print(a)

['deya', 1, 'hello', 344]

In [4]:
print(type(a))

<class 'list'>

In [5]:
# list in an inbuilt class in python

In [6]:
a.append('Himanshu')

In [7]:
print(a)

['deya', 1, 'hello', 344, 'Himanshu']

In [8]:
# today we are going to create our own classese

In [9]:
# we create the objects of these classes
# we can create the methods as well

In [10]:
a = []
b = {}
c = 'himanshu'
d = 1

In [13]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'dict'>
<class 'str'>
<class 'int'>

In [14]:
# CREATING A CLASS

In [48]:
class Deya:
    
    #class object attributes
    color = 'Yellow'
    
    # intialization functino
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [45]:
x = Deya('Himanshu',22)
y = Deya('Rahul',12)
z=  Deya('kate',45)

In [47]:
print(y.name,y.age,y.color)
print(x.name)
print(z.name,z.color)

Rahul 12 Yellow
Himanshu
kate Yellow

In [29]:
print(type(x))

<class '__main__.Deya'>

In [95]:
class Account:
    
    nationality = 'INDIAN'
    
    def __init__(self,name,age,balance=0):
        self.name = name
        self.age=age
        self.balance=balance
        
    def update_bal(self,add=0):
        self.balance = self.balance+add
        
        
    def withdraw(self,draw=0):
        self.balance = self.balance-draw
        
        
    def m(self):
        self.balance = self.balance*2

In [96]:
x = Account('Himanshu',21,80)
y = Account('Deya',12)

In [97]:
print(x.name,x.age,x.balance)
print(y.name,y.age,y.balance)

Himanshu 21 80
Deya 12 0

In [98]:
x.update_bal(20)

print(x.balance)

100

In [99]:
y.update_bal(100)

In [100]:
print(y.balance)

100

In [101]:
print(x.balance,y.balance)

100 100

In [102]:
x.withdraw(50)

In [103]:
print(x.balance)

50

In [104]:
print(x.balance,y.balance)

50 100

In [105]:
y.m()

In [106]:
print(y.balance)

200